server {
        listen 80 default_server;
        listen [::]:80 default_server;
        return 301 https://$host$request_uri;
        error_page 497 https://$host:$server_port$request_uri;
}

server {
        listen 443 ssl default_server;
        listen [::]:443 ssl default_server;
        ssl on;
        ssl_certificate /etc/ssl/nginx-selfsigned.crt;
        ssl_certificate_key /etc/ssl/nginx-selfsigned.key;

        error_page 497 https://$host:$server_port$request_uri;
        location / {
                try_files $uri $uri/ =404;
        }
        location /wordpress {
                return 307 http://$host:5050/;
        }
        location /phpmyadmin/ {
                add_header X-uri "$host";
                add_header X-uri1 "http://$host:5000/";
                # proxy_pass http://$host:5000/;
                proxy_pass http://192.168.99.102:5000/;
        }
}