server {
	listen 80 default_server;
	listen [::]:80 default_server;
	return 301 https://$host$request_uri;
	error_page 497 https://$host:$server_port$request_uri;
}

server {
	listen 443 default_server;
	listen [::]:443 default_server;
	autoindex on;
	error_page 497 https://$host:$server_port$request_uri;
	location / {
		try_files $uri $uri/ =404;
	}
}